<% include ../partials/footer %>
<h1>SIGN UP</h1>
<form method="POST" action="/user/signup">
    <input type="text" name="username" value="" placeholder="username">
    <input type="text" name="password" value="" placeholder="password"> 
    <button >Signup</button> 
</form>

<% include ../partials/footer %>