<% include ../partials/footer %>
<h1>LOGIN</h1>
<form method="POST" action="/user/login">
    <input type="text" name="username" value="" placeholder="username">
    <input type="text" name="password" value="" placeholder="password"> 
    <button >Login</button> 
</form>
<% include ../partials/footer %>