<% include ../partials/header %>
<h1>POST YOUR QUESTIONS</h1>
<form method="POST" action="/question">
    <input type="text" name="question" value="" placeholder="question">
    <button >Post</button> 
</form>
<%questions.forEach((question)=>{%>
<ul>
    <li>
    <%=question.question%>
    <a href="/question/<%=question._id%>">view</a>
    </li>
</ul>
    
<%})%>
<% include ../partials/footer %>