<% include ../partials/header %>
<form action="/question" method="GET">
<input type="text" name="search" value="" placeholder="search question">
<button>Search</button>    
</form>
<%questions.forEach((question)=>{%>
<ul>
    <li>
    <%=question.question%>
    <a href="/question/<%=question._id%>">view</a>
    </li>
</ul>
    
<%})%>
<% include ../partials/footer %>